*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    direction: rtl;
}
.clear{
    clear: both;
}
section{
    width: 500px;
    height: 600px;
    background-color: lightgray;
    margin:auto;
    position: relative;
    top: 50px;
    padding: 10px;
    border-radius: 2%;
    /* overflow: hidden; */
}
#display{
    width: 100%;
    height: 100px;
    background-color: white;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}
#display span{
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}
#numbers{
    border: 3px solid red;
    width: 100%;
    height: 470px;
    border-radius: 2%;
    display: flex;
    padding: 5px;
}
#num{
    width: 30%;
    /* height: 470px; */
    background-color: azure;
}
#num-btn{
    width: 70%;
    /* height: 470px; */
    /* background-color: antiquewhite; */
    position: relative;
}
#num-btn-2{
    position: absolute;
    top: 20px;
}
.num-btn{
    background-color: black;
    color: white;
    height: 60px;
    width: 25%;
    cursor: pointer;
    font-size: 30px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 10px 20px 10px;
    border-radius: 50%;
    
}